[submodule "taskera-web"]
	path = taskera-web
	url = git@github.com:professorfernandopassos/taskera-web.git
	ignore = all
[submodule "taskera-api"]
	path = taskera-api
	url = git@github.com:professorfernandopassos/taskera-api.git
	ignore = all